[Unit]
Description=Moorebot Scout Navigation System
After=network.target sound.target
Wants=network.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/auto-scout
Environment=ROS_MASTER_URI=http://localhost:11311
Environment=ROS_HOSTNAME=localhost
Environment=PYTHONPATH=/opt/ros/melodic/lib/python2.7/dist-packages:/home/pi/auto-scout/src
ExecStartPre=/bin/bash -c 'source /opt/ros/melodic/setup.bash'
ExecStart=/bin/bash -c 'source /opt/ros/melodic/setup.bash && python /home/pi/auto-scout/src/scout_navigation_controller.py'
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
