<?xml version="1.0"?>
<launch>
  <arg name="config_file" default="$(find auto-scout)/config/scout_config.yaml" />
  <arg name="site_file" default="$(find auto-scout)/config/site.yaml" />
  <arg name="map_file" default="/srv/auto-scout/maps/house_map.yaml" />
  <arg name="localization_mode" default="true" />
  <arg name="run_local_scout_bridge" default="false" />

  <group if="$(arg run_local_scout_bridge)">
    <include file="$(find auto-scout)/launch/scout_runtime.launch">
      <arg name="config_file" value="$(arg config_file)" />
      <arg name="site_file" value="$(arg site_file)" />
    </include>
  </group>

  <include file="$(find auto-scout)/launch/companion_runtime.launch">
    <arg name="config_file" value="$(arg config_file)" />
    <arg name="site_file" value="$(arg site_file)" />
    <arg name="map_file" value="$(arg map_file)" />
    <arg name="localization_mode" value="$(arg localization_mode)" />
  </include>
</launch>
